html {
    font-family: sans-serif;
    background: #eee;
    padding: 1rem;
  }
  
  body {
    max-width: 960px;
    margin: 0 auto;
    background: white;
  }
  
  h1, h2, h3, h4, h5, h6 {
    font-family: serif;
    color: #377ba8;
    margin: 1rem 0;
  }

  p {
    font-family: sans-serif;
    font-size: 1em;
    margin:1em;
  }

  .input-field {
    /* border-radius: 10px; */
    /* text-indent: 50px; */
    /* font-size: 2em; */
    /* border-color: #000000; */
    width: 30%;
    /* padding-top: 5px; */
    padding-left: 50px;
    /* padding-bottom: 5px; */
  }
  
  a {
    color: #377ba8;
    display: flex;
  }

  .sidebar a {
    background-color: #ffffff;
    color: #030000;
    padding: 1px 8px;
    text-align: center;
    text-decoration: none;
    font-size: 11px;
    display: inline-block;
    border-radius: 10px;
    border-style: solid;
    border-color: #000000;
    border-width: 1.5px;
  }
  
  .sidebar a:hover, a:active {
    background-color: #c99b9b;
  }
  
  hr {
    border: none;
    border-top: 1px solid lightgray;
  }
  
  nav {
    /* background: lightgray; */
    background: rgb(211, 211, 211);
    display: flex;
    align-items: center;
    padding: 0 0.5rem;
  }
  
  nav h1 {
    flex: auto;
    margin: 0;
  }
  
  nav h1 a {
    text-decoration: none;
    padding: 0.25rem 0.5rem;
  }
  
  nav ul  {
    display: flex;
    list-style: none;
    margin: 0;
    padding: 0;
  }
  
  nav ul li a, nav ul li span, header .action {
    display: block;
    padding: 0.5rem;
  }

  .sidebar {
      width: 25%;
      height:200%;
      float:left;
      position:relative;
      /* background: #eee; */
      padding-bottom: 20px;
      padding-left: 1%;
  }
  
  .content {
    padding: 0 1rem 1rem;
    margin-left: 25%;
  }
  
  .content > header {
    border-bottom: 1px solid lightgray;
    display: flex;
    align-items: flex-end;
  }
  
  .content > header h1 {
    flex: auto;
    margin: 1rem 0 0.25rem 0;
  }

  .demo img {
    float: right;
    width: 150px;
    height: 100px;
    padding-top: 1%;
    /* background: #555; */
  }

  /* .iframe {
    position: absolute;
    background: transparent;
    width: 100%;
    height:100%;
    overflow-y: visible
  } */
  
  .flash {
    margin: 1em 0;
    padding: 1em;
    background: #cae6f6;
    border: 1px solid #377ba8;
  }
  
  .post > header {
    display: flex;
    align-items: flex-end;
    font-size: 0.85em;
  }
  
  .post > header > div:first-of-type {
    flex: auto;
  }
  
  .post > header h1 {
    font-size: 1.5em;
    margin-bottom: 0;
  }
  
  .post .about {
    color: slategray;
    font-style: italic;
  }
  
  .post .body {
    white-space: pre-line;
  }
  
  .content:last-child {
    margin-bottom: 0;
  }
  
  .content form {
    margin: 1em 0;
    display: flex;
    flex-direction: column;
  }
  
  .content label {
    font-weight: bold;
    margin-bottom: 0.5em;
  }
  
  .content input, .content textarea {
    margin-bottom: 1em;
  }
  
  .content textarea {
    min-height: 12em;
    resize: vertical;
  }
  
  input.danger {
    color: #cc2f2e;
  }
  
  input[type=submit] {
    align-self: start;
    min-width: 10em;
  }

  .chart {
    position: relative;
    margin-bottom: 1em;
    /* display: flex; */
    border-style: double;
    width: 100%;
    height: 100%;
    /* padding-top: 56.25%; */
  }

  .dash {
    display: flex;
    flex-direction: column;
    border-style: double;
    margin-bottom: 1em;
    /* height: 600px;
    width: 100%; */
  }

  .dash iframe{
    position:relative;
    height: 800px;
    

  }