ol {
    margin: 0.2em;
    list-style-type: decimal;
  }

.dash-area--main {
    overflow-y: hidden;
    /* margin-left: 2%; */
    margin-right: 2%;
    font-size: 1.4rem;
}

a.text {
  text-decoration: none;
  cursor: pointer;
  display: inline-block;
  /* color:#923f31; */
  /* color: #009DAE; */
  color:#62a324;
}

p {
    font-size:1.4rem;
}

.grid-container {
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-gap: 20px;
}

  .collapsible {
    background-color: #eee;
    color: #444;
    cursor: pointer;
    padding: 10px;
    width: 100%;
    margin-bottom: 0.5em;
    border-color: rgb(222,104,151);
    border-style: solid ;
    border-width: 1px 0px 0px 0px;
    text-align: left;
    outline: none;
    font-size: 15px;
  }



  .active, .collapsible:hover {
    background-color: #ccc;
  }
  
  .hide-cont-1 {
    padding: 0 18px;
    display: none;
    overflow: hidden;
    background-color: #f1f1f1;
  }
  
  .hide-cont-1.active {
    display: none;
    margin-top: 0.5em;
  }