<!doctype html>
<head>
  <title>{% block title %}{% endblock %} Pymarad</title>
  <link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}">
  <script src="https://polyfill.io/v3/polyfill.min.js?features=es6"></script>
  <script id="MathJax-script" async
          src="https://cdn.jsdelivr.net/npm/mathjax@3/es5/tex-mml-chtml.js">
  </script>
  <script src="https://cdn.plot.ly/plotly-latest.min.js"></script>
</head>

<body>
  <section class="page-area">
    <header class="header-area">
      <div class="header-area--inner header-area--head">
        <h1 class="header-area--logo">
          <a href="{{ url_for('home') }}">
            Pymarad
          </a>
        </h1>
      </div>
      {% block nav %}
      <nav class="header-area--nav">
        <ul class="header-area--nav--list">
        <li>
            <a href="{{ url_for('gallery.index') }}">
            Gallery
            </a>
        </li>
        <li>
            <a href="{{ url_for('demo.demo', id='random') }}">
                Random demo
            </a>
        </li>
        <li>
            <a href="{{ url_for('contact') }}">
            Contact
            </a>
        </li>
        </ul>
      </nav>
      {% endblock %}
    </header>
    
    {% block logo %}{% endblock %}

    <div class="grid-container">
      {% block sidebar %}
        <div class="sidebar">
          <h4>
            {% block tags3 %} Main Topics {% endblock %}
          </h4>
          {% for link in links[2] %}
            <a href="{{ url_for('gallery.index', include_tags=link.split(':')[0]) }}">
              {{ link }}
            </a>
          {% endfor %}

          <h4>
            {% block tags1 %} Math Topics {% endblock %}
          </h4>
          {% for link in links[0] %}
            <a href="{{ url_for('gallery.index', include_tags=link.split(':')[0]) }}">
              {{ link }}
            </a>
          {% endfor %}

          <h4>
          {% block tags2 %} Python Topics {% endblock %}
          </h4>
          {% for link in links[1] %}
            <a href="{{ url_for('gallery.index', include_tags=link.split(':')[0]) }}">
              {{ link }}
            </a>
          {% endfor %}
        </div>
      {% endblock %}

      {% block content %}{% endblock %}
    </div>

    {% block footer %}
      <footer class="footer-area">
        <ul>
          <li>
            <address>Author:
              <a class='text' href="mailto:ddthumb@gmail.com">
                David Paleček
              </a>
            </address>
          </li>
          <li>
            <img src="https://cdn.jsdelivr.net/gh/devicons/devicon/icons/flask/flask-original.svg"
                  width="20px"
                  alt="Flask" />
            <a class="text" href="https://flask.palletsprojects.com/en/2.1.x/" target="_blank">
              Flask (v 2.1.2)
            </a>
          </li>
          <li>
            <img src="../static/fig/GitHub-Mark-Light-64px.png" width='15px'
                alt='github-icon'/>
            <a class="text" href="http://github.com/palec87/pymarad" target="_blank">
              Pymarad
            </a>
          </li>
          <li>
            <img src="../static/fig/GitHub-Mark-Light-64px.png" width='15px'
                  alt="github-icon"/>
            <a class="text" href="http://github.com/palec87/pymapp" target="_blank">
              Pyma-app
            </a>
          </li>
        </ul>
      </footer>
    {% endblock %}
  </section>
</body>



