{% extends 'base.html' %}

{% block content %}
  <section class="content">
    <ul class="text">
      <li>
        Do you have a project suggestion?
      
      Raise a feature suggest 
        <a class='text' 
            href="https://github.com/palec87/pymapp"
            target="_blank">
                here.
        </a>
      </li>
      <li>
        Wanna collaborate, send me an 
        <a class='text' href="mailto:ddthumb@gmail.com">
          email.
        </a>
      </li>
    </ul>
  </section>
{% endblock %}