{% extends 'base.html' %}

{% block header %}
  <h1>{% block title %} Ups {% endblock %}</h1>
{% endblock %}

{% block content %}
  <p>
    Apologies, <em>"{{ demo['title'] }}"</em> demo is not implemented here yet.
  </p>

  <p>
    Wanna speed up the process, send me an 
    <a class='text' href="mailto:ddthumb@gmail.com">
        email
    </a>.
  </p>

  <ul>
    <a href="{{ url_for('gallery.index') }}">
       Return to gallery
    </a>
    <a href="{{ url_for('demo.demo', id='random') }}">
       Take me to random demo
    </a>
  </ul>

{% endblock %}